<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.readbean.im.mapper.ChatRecordMapper">
  <resultMap id="chatRecordMapper" type="com.readbean.im.domain.ChatLog">
    <result property="id" column="id"/>
    <result property="createdDate" column="created_date"/>
    <result property="fromUserId" column="from_user_id"/>
    <result property="toUserId" column="to_user_id"/>
    <result property="content" column="content"/>
    <result property="fromUserName" column="from_user_name"/>
    <result property="toUserName" column="to_user_name"/>
    <result property="businessId" column="business_id"/>
    <result property="businessType" column="business_type"/>
  </resultMap>

  <sql id="sql_where">
    <if test="entity !=null and entity.fromUserId != null">
      and entity.from_user_id = #{entity.fromUserId}
    </if>
    <if test="entity !=null and entity.toUserId != null">
      and entity.to_user_id = #{entity.toUserId}
    </if>
    <if test="entity !=null and entity.businessId != null">
      and entity.business_id = #{entity.businessId}
    </if>
    <if test="entity !=null and entity.businessType != null">
      and entity.business_type = #{entity.businessType}
    </if>
  </sql>

  <sql id="sql_limit">
    <if test="pager != null">
      limit #{pager.start},#{pager.limit}
    </if>
  </sql>

  <select id="findCount" resultType="long">
    select count(*) from chat_log entity
    where 1 = 1
    <include refid="sql_where"/>
  </select>

  <select id="findPage" resultMap="chatRecordMapper">
    select entity.*,sender.name from_user_name,receiver.name to_user_name from chat_log entity
      left join user sender on entity.from_user_id = sender.id
        left join user receiver on entity.to_user_id = receiver.id
    where 1 = 1
    <include refid="sql_where"/>
    <include refid="sql_limit"/>
  </select>

</mapper>