<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/third/layim/css/layui.css"/>
  <script type="text/javascript" src="/third/layim/layui.js"></script>
  <script type="text/html" id="titleTpl">
    {{new Date(d.createdDate).Format("yyyy-MM-dd hh:mm:ss")}}
  </script>
  <script type="text/javascript">

    Date.prototype.Format = function (fmt) { //author: meizz
      var o = {
        "M+": this.getMonth() + 1, //月份
        "d+": this.getDate(), //日
        "h+": this.getHours(), //小时
        "m+": this.getMinutes(), //分
        "s+": this.getSeconds(), //秒
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度
        "S": this.getMilliseconds() //毫秒
      };
      if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
      for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
      return fmt;
    }

    var tableIdx = null;
    layui.use('table', function () {
      tableIdx = layui.table.render({
        elem: '#demo'
        , height: 315
        , url: '/chat-record/rest/page' //数据接口
        , page: {limit: 10, theme: '#c00'} //开启分页
        , cellMinWidth: 80
        , cols: [[ //表头
          {field: 'id', title: 'ID', fixed: 'left', width: 80}
          , {field: 'fromUserName', title: '发送人', width: 120}
          , {field: 'toUserName', title: '接收人', width: 120}
          , {field: 'content', title: '发送信息', width: 180}
          , {field: 'createdDate', title: '发送时间', width: 160, templet: '#titleTpl'}
          , {field: 'businessId', title: '业务编码', width: 120}
          , {field: 'businessType', title: '业务类型', width: 120}
        ]]
      });
    });

    function search() {
      var param = {};
      layui.jquery.each(layui.jquery("form").serializeArray(), function (index) {
        if (param[this['name']]) {
          param[this['name']] = param[this['name']] + "," + this['value'];
        } else {
          param[this['name']] = this['value'];
        }
      });
      tableIdx.reload({
        where: param
        ,page: {
          curr: 1 //重新从第 1 页开始
        }
      });
    }
  </script>
</head>
<body>

<form class="layui-form" action="">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">发送人</label>
      <div class="layui-input-inline">
        <select name="fromUserId">
          <option value="">请选择发送人</option>
          <option value="1">张三</option>
          <option value="2">李四</option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">接收人</label>
      <div class="layui-input-inline">
        <select name="toUserId" autocomplete="true">
          <option value="">请选择接收人</option>
          <option value="1">张三</option>
          <option value="2">李四</option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">业务编码</label>
      <div class="layui-input-inline">
        <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" onclick="search()">小型按钮</button>
    </div>
  </div>
</form>
<table id="demo" lay-filter="test"></table>
</body>
</html>