<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>IM</title>
  <link rel="stylesheet" href="/third/layim/css/layui.css"/>
  <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
</body>
<form id="loginForm" class="layui-form" action="" style="display: none;">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-inline">
      <input type="text" name="title" id="userName" lay-verify="required" placeholder="用户名"
             autocomplete="off" class="layui-input"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <input type="password" name="password" id="password" lay-verify="required" placeholder="密码"
             autocomplete="off" class="layui-input"/>
    </div>
    <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-radius" id="loginBtn" type="button">登录</button>
    </div>
  </div>
</form>
<script type="text/javascript" src="/third/layim/layui.js"></script>
<script type="text/javascript" src="/js/sockjs.js"></script>
<script type="text/javascript" src="/js/stomp.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</html>