<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Index</title>
  <script type="text/javascript" th:src="@{/third/layim/layui.js}"></script>
  <script type="text/javascript" th:src="@{/js/sockjs.js}"></script>
  <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
  <link rel="stylesheet" th:href="@{/third/layim/css/layui.css}"/>
</head>
<body>
<script>
  layui.use('layim', function (layim) {
    //基础配置
    layim.config({
      title: "PBCS交互",
      min: true,

      //获取主面板列表信息
      init: {
        url: '/im/init', //接口地址（返回的数据格式见下文）
        type: 'get', //默认get，一般可不填
        data: {} //额外参数
      },
      members: {
        url: '/im/members',
        data: {}
      }

    });

    var socket = new SockJS("/gs-guide-websocket");
    var stompClient = Stomp.over(socket);
    stompClient.connect('guest','guest', function (frame) {
      console.log('Connected: ' + frame);
    });

  });
</script>
</body>
</html>